name: CI

on:
  push:
    branches: [main]
    paths:
      - '**.yml'
      - '**.ts'
      - '**.json'
      - '**.jsonc'

  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Test
        run: >
          deno test --parallel
          kv/
          openapi/
          webauthn/

      - name: Publish dry run
        run: deno publish --allow-slow-types --dry-run

  # lint:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 30

  #   steps:
  #     - name: Clone repository
  #       uses: actions/checkout@v5

  #     - name: Set up Deno
  #       uses: denoland/setup-deno@v2
  #       with:
  #         cache: true

  #     - name: Format
  #       run: deno fmt --check
